html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  color: inherit;
  font: inherit;
}

body {
  margin: 0;
}

.page-container {
  padding-left: 20px;
  padding-right: 20px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 420px;
  height: 420px;
  /* border: solid black; */
}

.grid div {
  width: 15px;
  height: 15px;
  /* border: 1px solid white; */
}

.square {
  border: 1px solid black;
}

.pac-dot {
  background-color: green;
  border: 5px solid white;
}

.wall {
  background: blue;
}

.power-pellet {
  background: green;
  border-radius: 50%;
}

.pacman {
  background: orange;
  border-radius: 50%;
  border: none;
}

.blinky {
  background: red;
  border: none;
}

.pinky {
  background: pink;
  border: none;
}

.inky {
  background: cyan;
  border: none;
}

.clyde {
  background: orange;
  border: none;
}